modules = ["vue-node-20", "nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 43907
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "开发服务器"
author = 44964439
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
